root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.proto]
indent_style = space
indent_size = 2

[*.go]
ij_go_add_leading_space_to_comments = true

[*.{js,ts,vue}]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2
ij_yaml_spaces_within_braces = true
